@import "variables.scss";
@import "functions.scss";
@import "mixins.scss";

/* ============================================================
/*  TYPOGRAPHY
/* ============================================================ */ 

@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,400i,700,700i|Source+Sans+Pro:400,400i,600,700,700i&display=swap');

html {
  font-size: 16px;
  line-height: 1.45;
  font-family: $body;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $body;
}

h1,h2,h3,h4,h5{
  font-family: $header;
  font-weight: 100;
}

h1 {
  font-size: px-to-rem(48.83px);
  // smaller font size for mobile
}

h2 {
  font-size: px-to-rem(39.06px);
}

h3 {
  font-size: px-to-rem(31.25px);
}

h4 {
  font-size: px-to-rem(25.00px);
}

h5 {
  font-size: px-to-rem(20px);
}

p {
  font-size: 1rem;
  font-family: $body;
}

li {
  font-size: 1rem;
}

a {
  @include transition($transition);
}

.body-container-wrapper a {
  color: $blue;
}

/* Text Utilities
---------------------------------------------------------------------- */

.text--lighter, a.text--lighter, p.text--lighter {
  font-weight: 400;
}

.bold, a.bold, p.bold {
  font-weight: bold;
}

.text--primary-light, a.text--primary-light, p.text--primary-light {
  color: $light-blue;
}

a.text--primary-light:hover {
  color: $orange;
}

/* ============================================================
/*  BUTTONS
/* ============================================================ */

.rf-btn {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  height: auto;
  padding: 10px 20px;
  font-size: px-to-rem(16px);
  font-family: $header;
  font-weight: 600;
  line-height: 1.5;
  border-radius: 150px;
  text-decoration: none;
  box-shadow: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  cursor: pointer;

  &--primary {
    background: $blue;
    color: #fff !important;
    border: 2px solid $blue;
  
    &:hover {
      background: $dark-blue;
      color: #fff;
      border: 2px solid $dark-blue;
    }
  }

  &--secondary {
    background: $light-blue;
    color: #fff !important;
    border: 2px solid $light-blue;
  
    &:hover {
      background: $dark-blue;
      color: #fff;
      border: 2px solid $dark-blue;
    }
  }

  &--clear {
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
  
    &:hover {
      background: #fff;
      color: $blue;
      border: 2px solid #fff;
    }
  }

}



/* ============================================================
/*  LAYOUT
/* ============================================================ */ 

.lg-container {
  padding: 60px 0;
}

.md-container {
  padding: 35px 0;
}

.sm-container {
  padding: 25px 0;
}

/* ============================================================
/*  UTILITIES
/* ============================================================ */

/** backgrounds **/

.bg {
  &--gray {
    background: $bg-gray;
  }

  &--blue {
    background: $dark-blue;
  }

  &--orange {
    background: $orange;
  }
}


/** alignments **/
.centered {
  margin: 0 auto;
}
