@import "variables.scss";
@import "functions.scss";
@import "mixins.scss";

.solutions {

  &__bot {
    padding-top: 35px;
  }

  &__box {
    @include transition($transition);
    font-weight: bold;
    &:hover {
      cursor: pointer;
      color: $blue;
    }
  }

  &__icon {
    text-transform: uppercase;
    height: 116px;
    max-width: 116px;
    background-size: cover;
    width: 116px;
    margin: 0 auto;

    & > img {
      max-width: 116px;
    }
  }
}

.solutions__content {
  &__title {
    margin-bottom: 19px;
  }

  &__subtitle {
    color: $text-light;
  }

  &__body {
    margin-top: 8px;
    margin-bottom: 20px;
  }
}