// colors
$black:     #424A4D;
$light-blue: #109fbf;
$blue:      #007297;
$dark-blue: #014B64;
$orange:    #EB8011;

$text:      #424A4D;
$text-light:#929292;

$bg-gray:   #f6f6f6;

// fonts
$header: 'Open Sans', sans-serif;
$body: 'Open Sans', sans-serif;
$base-font-size: 16px;

// animations
$transition: all 300ms ease;

